/* for BPMN.html */

/* Diagram and palette area */

#myDiagramDiv {
  float: left;
  border: solid 1px gray;
  border-left: none;
  width: calc(100% - 200px);
  height: 700px;
  background-color: white;
}

#PaletteAndDiagram {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#sideBar {
  float: left;
  width: 130px;
  min-height: 500px;
  text-align: center;
  border: 1px solid gray;
}

.myPaletteDiv {
  width: 100%;
  min-height: 625px;
}

#myOverviewDiv {
  width: 100%;
  height: 100px;
}

#myOverviewDiv {
  background-color: lightgray;
}

