﻿@model Vistoria.Models.Grupo
@{
    ViewBag.Title = "Grupo de Acesso";
    List<Vistoria.Models.Modulo> listaModulos = ViewBag.ModulosChecked;
    ViewBag.Tamanho = 2;
}
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de Grupo de Acesso</h3>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
            @Html.HiddenFor(model => model.Id)

            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ModulosId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @foreach (Vistoria.Models.Modulo modulo in ViewBag.Grupos)
                        {
                            <div class="col-sm-12 no-pdd">
                                <label><input type="checkbox" class="minimal" @(listaModulos.Where(x => x.Id == modulo.Id).Count() > 0 ? "checked=checked" : "") name="ModulosId" id="ModulosId@Modulo.Id" value="@modulo.Id" />  @modulo.Nome</label>
                            </div>
                        }
                        @Html.ValidationMessageFor(m => m.ModulosId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group no-mrg-btm">
                    <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <a class="btn btn-default btn-block" href="@Url.Action("Index", "Grupo")"><i class="glyphicon glyphicon glyphicon glyphicon-arrow-left"></i> Voltar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    @section Scripts {
        <script>
            validator.rules = {
                'Nome': {
                    required: true
                },
                'ModulosId': {
                    required: true,
                }
            };
            validator.messages = {
                'Nome': 'Informe o Nome',
                'ModulosId': 'Informe pelo menos um Modulo'
            };

            $(document).ready(function () {
                $('#formId').validate(validator);
            });
        </script>
    }
