﻿@model Vistoria.Models.Sitio
@{
    ViewBag.Title = "Sitio";
    ViewBag.Tamanho = 2;
}
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de Sitio</h3>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
            @Html.HiddenFor(model => model.Id)

            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmpresaId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EmpresaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.RazaoSocial, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Cnpj, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Cnpj, new { @class = "form-control cpfcnpj-mask", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Cnpj, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Endereco, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Cep, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Cep, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Raio, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Raio, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Raio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Latitude, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Longitude, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Telefone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control telefone-mask", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PortariaDenatran, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PortariaDenatran, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.PortariaDenatran, "", new { @class = "text-danger" })
                    </div>
                </div>
                
            </div>
            <div class="box-footer">
                <div class="form-group no-mrg-btm">
                    <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <a class="btn btn-default btn-block" href="@Url.Action("Index", "Sitio")"><i class="glyphicon glyphicon glyphicon glyphicon-arrow-left"></i> Voltar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    @section Scripts {
        <script>
            validator.rules = {
                'Nome': {
                    required: true
                },
                'EmpresaId': {
                    required: true
                },
                'RazaoSocial': {
                    required: true
                },
                'Cnpj': {
                    required: true
                },
                'Endereco': {
                    required: true
                },
                'Cep': {
                    required: true
                },
                'Raio': {
                    required: true
                },
                'Latitude': {
                    required: true
                },
                'Longitude': {
                    required: true
                },
                'Telefone': {
                    required: true
                },
                'PortariaDenatran': {
                    required: true
                },
            };
            validator.messages = {
                'Nome': 'Informe o Nome',
                'EmpresaId': 'Informe a Empresa',
                'RazaoSocial': 'Informe a Razão Social',
                'Cnpj': 'Informe o CNPJ',
                'Endereco': 'Informe o Endereço',
                'Cep': 'Informe o Cep',
                'Raio': 'Informe o Raio',
                'Latitude': 'Informe a Latitude',
                'Longitude': 'Informe a Longitude',
                'Telefone': 'Informe o Telefone',
                'PortariaDenatran': 'Informe a Portaria do Denatran',
            };

            $(document).ready(function () {
                $('#formId').validate(validator);
            });
        </script>
    }
