﻿@{
    ViewBag.Title = "Log";
    ViewBag.Tamanho = 2;
    var p1 = ViewBag.entidade;
    var p2 = ViewBag.Usuario;
    var p3 = ViewBag.data1;
    var p4 = ViewBag.data2;

}
@section botaoTop {
    <a href="@Url.Action("BaixarArquivo", "Log")" id="baixarlink" target="_blank" class="btn btn-default mrg-left-10" style="float:right"><i class="fa fa-download"></i> Baixar Arquivo</a>
}

<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Pesquisa de Logs</h3>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", onsubmit = "return pesquisar();" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

            <div class="box-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Data">Período</label>
                    <div class="col-md-2">
                        <input autocomplete="off" class="form-control data-mask" id="Data1" name="Data1" type="text">
                    </div>
                    <div class="col-md-2">
                        <input autocomplete="off" class="form-control data-mask" id="Data2" name="Data2" type="text">
                    </div>

                    <label class="control-label col-md-2" for="Usuário">
                        Usuário
                    </label>
                    <div class="col-md-4">
                        <input autocomplete="off" class="form-control" id="Usuario" name="Usuario" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="entidade">Módulo</label>
                    <div class="col-md-4">
                        @Html.DropDownList("ModuloId", null, @Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <label class="col-md-2 control-label" for="protocolo">Protocolo</label>
                    <div class="col-md-4">
                        <input autocomplete="off" class="form-control" id="protocolo" name="protocolo" type="text" autofocus="autofocus">
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group no-mrg-btm">
                    <div class="col-md-offset-2 col-xs-6 col-sm-5 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                    </div>
                    <div class="col-sm-8"></div>
                </div>
            </div>
        }
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listagem de Log</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped datatable tipo1">
                <thead>
                    <tr>
                        <th width="30">#</th>
                        <th>Data</th>
                        <th>Usuário</th>
                        <th>Ação</th>
                        <th>Módulo</th>
                        <th>Registro</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('.datatable.tipo1').DataTable({
                'searching': false,
                'bPaginate': true,
                'bJQueryUI': true,
                'bProcessing': true,
                'bServerSide': true,
                'sAjaxSource': '@Url.Action("Pagination", "Log")',
                'fnServerData': function (sSource, aoData, fnCallback) {
                    aoData.push(
                        { 'name': 'ModuloId', 'value': $('#ModuloId').val() },
                        { 'name': 'Usuario', 'value': $('#Usuario').val() },
                        { 'name': 'Data1', 'value': $('#Data1').val() },
                        { 'name': 'Data2', 'value': $('#Data2').val() },
                        { 'name': 'Protocolo', 'value': $('#protocolo').val() }
                    );
                     
                    $.getJSON(sSource, aoData, function (json) {
                        fnCallback(json)
                    });
                },
                'sServerMethod': 'GET',
                 'columnDefs': [
                   //{ 'orderable': false, "targets":[2,3]}
                 ],
                'aoColumns': [
                    { 'mData': 'Id' },
                    { 'mData': 'Data' },
                    { 'mData': 'Usuario' },
                    { 'mData': 'Acao' },
                    { 'mData': 'Type' },
                    { 'mData': 'Registro' }
                ],
                'language': {
                    'url': '@Vistoria.Business.Utils.FullUrl' + 'Content/js/datatables.net/pt-BR.json'
                }
            });
        });


        function pesquisar() {
            $table = $('.datatable.tipo1').dataTable();
            $table.fnDraw();            

            $('#baixarlink').attr("href", function (ind, attr) {
                 
                return '@Url.Action("BaixarArquivo", "Log")' + '?modulo=' + $('#ModuloId').val() + '&Usuario=' + $('#Usuario').val() + '&data1=' + $('#Data1').val() + '&data2=' + $('#Data2').val() + '&protocolo=' + $('#protocolo').val();
            });

            return false;
        }
 

    </script>
}
