﻿@model Vistoria.Models.Modulo
@{
    ViewBag.Title = "Módulo";
    List<Vistoria.Models.Grupo> listaGrupos = ViewBag.GruposChecked;
    ViewBag.Tamanho = 2;
}
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de Módulo</h3>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
            @Html.HiddenFor(model => model.Id)

            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Path, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Path, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Path, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.GruposId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @foreach (Vistoria.Models.Grupo grupo in ViewBag.Grupos)
                        {
                            <div class="col-sm-12 no-pdd">
                                <label><input type="checkbox" class="minimal" @(listaGrupos.Where(x => x.Id == grupo.Id).Count() > 0 ? "checked=checked" : "") name="GruposId" value="@grupo.Id" />@grupo.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group no-mrg-btm">
                    <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <a class="btn btn-default btn-block" href="@Url.Action("Index", "Modulo")"><i class="glyphicon glyphicon glyphicon glyphicon-arrow-left"></i> Voltar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        validator.rules = {
            'Nome': {
                required: true
            },
            'Path': {
                required: true
            },
            'GruposId': {
                required: true,
            }
        };
        validator.messages = {
            'Nome': 'Informe o Nome',
            'Path': 'Informe o Path',
            'GruposId': 'Informe pelo menos um Grupo'
        };

        $(document).ready(function () {
            $('#formId').validate(validator);
        });
    </script>
}
