﻿@{
    ViewBag.Title = "Módulo";
    ViewBag.Tamanho = 2;
}
@section botaoTop {
    <a href="@Url.Action("Edit", "Modulo")" class="btn btn-primary" style="float:right"><i class="glyphicon glyphicon-plus"></i> Novo Módulo</a>
}
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listagem de Módulo</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped datatable tipo1">
                <thead>
                    <tr>
                        <th width="30">#</th>
                        <th>Nome</th>
                        <th>Path</th>
                        <th width="200">Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
    @section Scripts {
        <script>
    $(document).ready(function () {
        $('.datatable.tipo1').DataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            'sAjaxSource': '@Url.Action("Pagination", "Modulo")',
            'sServerMethod': 'POST',
            'columnDefs': [
                { 'orderable': false, "targets": 3 }
            ],
            'aoColumns': [
                { 'mData': 'Id' },
                { 'mData': 'Nome' },
                { 'mData': 'Path' },
                { 'mData': 'acoes' }
            ],
            'language': {
                'url': '@Vistoria.Business.Utils.FullUrl' + 'Content/js/datatables.net/pt-BR.json'
            }
        });
    });
        </script>
    }
