﻿
@{
    ViewBag.Title = "Vistoria";
}

<div class="col-xs-12">
    <h2>Bem vindo ao Sistema de Vistoria veicular do Detran</h2>

    <div>
    <button type="button" class="btn btn-primary" onclick="capturarFoto()"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capturar Foto</button>

    </div>

    <div class="col-md-3 mrg-top-20">
        
        <img src="@Url.Action("ObterFoto2", "VistoriaEcv")" alt="" width="500" />
    </div>
</div>

<div class="modal fade" id="modalAguarde">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Capturar Foto</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body" id="modalTxtAguarde">
                Aguarde enquanto a foto é capturada
            </div>
            <div class="modal-footer" id="modalBtnAguarde" style="display: none">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function capturarFoto() {
            $('#modalAguarde').modal('show');
            $.ajax({
                method: "GET",
                url: '@Url.Action("TirarFoto2", "api/Camera")'
            }).done(function (result) {
                $("#modalTxtAguarde").html(result.Mensagem);
                if (result.Status == 1) {
                    window.location.reload();
                } else {
                    $("#modalBtnAguarde").show();
                    //$('#modalAguarde').modal('hide');
                }
            }).fail(function (jqXHR, textStatus) {
            alert("Ocorreu um erro: " + textStatus);
            });
    }

    </script>
}