﻿/*table {
    overflow-x: auto;
    width: 100% !important;
}*/

#nome-registro, #nome-registro-clone {
    font-weight: bold !important;
}

.bg-black .icon {
    color: white !important;
}

.bg-black-active .icon {
    color: white !important;
}

.bg-navy .icon {
    color: white !important;
}

.bg-navy-active .icon {
    color: white !important;
}

.div-nova-requisicao:hover {
    cursor: pointer;
}

.only-print {
    display: none;
}

@media (max-width: 767px) {
    .small-box .inner h3,p {
        width: 100% !important;
    }
}

@media print {
    .only-print {
        display: block;
    }
    .table-print td {
        padding: 0 !important;
    }
    .table-print th {
        padding: 0 !important;
    }
}