﻿@model Vistoria.Models.VistoriaEcv
@{
    ViewBag.Title = "Vistoria";
    ViewBag.Tamanho = 2;
    List<Vistoria.Models.FotoCamera> listFotoCamera = ViewBag.FotoCamera;
}
<div class="col-xs-12">
    <div class=" ">


        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
            @Html.HiddenFor(model => model.Id)

            <div class="box-body">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Vistoria</a></li>
                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Registros Fotográficos</a></li>
                        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Localização</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                            <div class="box-header with-border">
                                <h3 class="box-title">Dados do Proprietário</h3>
                            </div>

                            <div class="row mrg-top-10">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.nomeProprietario, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.nomeProprietario, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.nomeProprietario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cpfCnpjProp, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.cpfCnpjProp, new { @class = "form-control cpfcnpj-mask", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.cpfCnpjProp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.rg, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.rg, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.rg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.endereco, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.endereco, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.endereco, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroEndereco, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroEndereco, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.numeroEndereco, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.compleImovelProp, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.compleImovelProp, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.compleImovelProp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.nomeBairro, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.nomeBairro, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.nomeBairro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.municipioIdProp, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("municipioIdProp", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.municipioIdProp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ufProprietario, new { @class = "col-md-12 text-left control-label" })
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.ufProprietario, new { @class = "form-control", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.ufProprietario, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cepImovelProp, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.cepImovelProp, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.cepImovelProp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroFoneProp, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroFoneProp, new { @class = "form-control telefone-mask", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.numeroFoneProp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="box-header with-border mrg-top-20">
                                <h3 class="box-title">Dados do Veículo</h3>
                            </div>

                            <div class="row mrg-top-10">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.placaVeiculo, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.placaVeiculo, new { @class = "form-control", autocomplete = "off", maxlength = "7" })
                                            @Html.ValidationMessageFor(m => m.placaVeiculo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.chassi, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.chassi, new { @class = "form-control", autocomplete = "off", maxlength = "21" })
                                            @Html.ValidationMessageFor(m => m.chassi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroMotor, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroMotor, new { @class = "form-control", autocomplete = "off", maxlength = "21" })
                                            @Html.ValidationMessageFor(m => m.numeroMotor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroHodometro, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroHodometro, new { @class = "form-control", autocomplete = "off", maxlength = "7" })
                                            @Html.ValidationMessageFor(m => m.numeroHodometro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.anoFabricacao, new { @class = "col-md-12 control-label text-left" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.anoFabricacao, new { @class = "form-control", autocomplete = "off", maxlength = "4" })
                                            @Html.ValidationMessageFor(m => m.anoFabricacao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.categoriaId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("categoriaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.categoriaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.corId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("corId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.corId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.combustivelId, new { @class = "col-md-12 control-label text-left" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("combustivelId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.combustivelId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.especieId, new { @class = "col-md-12 control-label text-left" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("especieId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.especieId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.capacidadePassag, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.capacidadePassag, new { @class = "form-control", autocomplete = "off", maxlength = "3" })
                                            @Html.ValidationMessageFor(m => m.capacidadePassag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.pbt, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.pbt, new { @class = "form-control", autocomplete = "off", maxlength = "5" })
                                            @Html.ValidationMessageFor(m => m.pbt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cmt, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.cmt, new { @class = "form-control", autocomplete = "off", maxlength = "5" })
                                            @Html.ValidationMessageFor(m => m.cmt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.capacidadeCarga, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.capacidadeCarga, new { @class = "form-control", autocomplete = "off", maxlength = "5" })
                                            @Html.ValidationMessageFor(m => m.capacidadeCarga, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.carroceriaId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("carroceriaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.carroceriaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroEixos, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroEixos, new { @class = "form-control", autocomplete = "off", maxlength = "2" })
                                            @Html.ValidationMessageFor(m => m.numeroEixos, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVeiculoId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVeiculoId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVeiculoId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.apontamento, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.apontamento, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.apontamento, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.potencia, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.potencia, new { @class = "form-control", autocomplete = "off", maxlength = "3" })
                                            @Html.ValidationMessageFor(m => m.potencia, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vinRegravado, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            <select name="vinRegravado" id="vinRegravado" class="form-control">
                                                <option value="">.:: Selecione ::.</option>
                                                <option value="1" @(Model?.vinRegravado == "1" ? "selected" : "")>Regravado</option>
                                                <option value="2" @(Model?.vinRegravado == "2" ? "selected" : "")>Normal</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.vinRegravado, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cilindrada, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.cilindrada, new { @class = "form-control", autocomplete = "off", maxlength = "4" })
                                            @Html.ValidationMessageFor(m => m.cilindrada, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.km, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.km, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.km, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.lacre, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.lacre, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.lacre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.anoModelo, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.anoModelo, new { @class = "form-control", autocomplete = "off", maxlength = "4" })
                                            @Html.ValidationMessageFor(m => m.anoModelo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.statusMotor, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            <select name="statusMotor" id="statusMotor" class="form-control">
                                                <option value="">.:: Selecione ::.</option>
                                                <option value="O" @(Model?.statusMotor == "O" ? "selected" : "")>Original</option>
                                                <option value="R" @(Model?.statusMotor == "R" ? "selected" : "")>Regravado</option>
                                                <option value="S" @(Model?.statusMotor == "S" ? "selected" : "")>Substituído</option>
                                                <option value="V" @(Model?.statusMotor == "V" ? "selected" : "")>Vestígio de Adulteração</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.statusMotor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.indicaNovoUsado, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            <select name="indicaNovoUsado" id="indicaNovoUsado" class="form-control">
                                                <option value="">.:: Selecione ::.</option>
                                                <option value="N" @(Model?.indicaNovoUsado == "N" ? "selected" : "")>Veículo Novo</option>
                                                <option value="U" @(Model?.indicaNovoUsado == "U" ? "selected" : "")>Veículo Usado</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.indicaNovoUsado, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.codigoRenavam, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.codigoRenavam, new { @class = "form-control", autocomplete = "off", maxlength = "11" })
                                            @Html.ValidationMessageFor(m => m.codigoRenavam, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.placaAtribuida, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.placaAtribuida, new { @class = "form-control", autocomplete = "off", maxlength = "7" })
                                            @Html.ValidationMessageFor(m => m.placaAtribuida, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.placa_acordo, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.placa_acordo, new { @class = "form-control", autocomplete = "off", maxlength = "7" })
                                            @Html.ValidationMessageFor(m => m.placa_acordo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            </div>


                            <div class="box-header with-border mrg-top-20">
                                <h3 class="box-title">Dados da Vistoria</h3>
                            </div>

                            <div class="row mrg-top-10">

                                @if (Model?.geraDrTaxaVistoriaId != null)
                                {
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.statusVistoriaId, new { @class = "col-md-12 text-left control-label" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("statusVistoriaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.statusVistoriaId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.solicTrocaPlacaId, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("solicTrocaPlacaId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.solicTrocaPlacaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId2, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId2", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId3, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId3", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId4, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId4", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId5, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId5", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId5, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId6, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId6", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId6, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.tipoVistoriaId7, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("tipoVistoriaId7", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.tipoVistoriaId7, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.vistoriaLacrada, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            <select name="vistoriaLacrada" id="vistoriaLacrada" class="form-control">
                                                <option value="">Não</option>
                                                <option value="S" @(Model?.vistoriaLacrada == "S" ? "selected" : "")>Sim</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.vistoriaLacrada, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.numeroProtocolo, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.numeroProtocolo, new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.numeroProtocolo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.observacoesVistoriador, new { @class = "col-md-12 text-left control-label" })
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(m => m.observacoesVistoriador, new { @class = "form-control", autocomplete = "off", rows = 5 })
                                            @Html.ValidationMessageFor(m => m.observacoesVistoriador, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                @if (Model.GeraDrTaxaVistoria?.codigoBarras != null)
                                {
                                    <h4 class="mrg-left-20">Código de Barras: @Html.Raw(Model.GeraDrTaxaVistoria?.codigoBarras)</h4>
                                    <h4 class="mrg-left-20">Nosso Número: @Html.Raw(Model.GeraDrTaxaVistoria?.nossoNumero)</h4>
                                }


                            </div>

                            <div class="box-footer">
                                <div class="form-group no-mrg-btm">
                                    <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                        <a class="btn btn-default btn-block" href="@Url.Action("Index", "VistoriaEcv")"><i class="glyphicon glyphicon glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                        @if (Model?.geraDrTaxaVistoriaId == null)
                                        {
                                            <a class="btn btn-primary m-l-10" id="btnGerarTaxa"><i class="fa fa-barcode"></i> Gerar Taxa</a>
                                        }
                                        @if (Model?.geraDrTaxaVistoriaId != null && (Model?.statusVistoriaId == 1 || Model?.statusVistoriaId == 2))
                                        {
                                            <a class="btn btn-primary m-l-10" id="btnEnviarVistoria"><i class="glyphicon glyphicon-send"></i> Enviar Vistoria</a>
                                        }
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                        @if (Model?.geraVistoriaECVId != null && (Model?.statusVistoriaId == 1 || Model?.statusVistoriaId == 2))
                                        {
                                        }
                                            <button type="button" class="btn btn-primary btn-block" onclick="window.open('@Url.Action("GerarLaudoPDF", "VistoriaEcv", new { id = Model.Id })')"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Gerar Laudo</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <button type="button" class="btn btn-primary" onclick="capturarFoto()"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capturar Foto</button>
                            <div class="row">
                                
                                @if(listFotoCamera.Count > 0)
                                {
                                    foreach (Vistoria.Models.FotoCamera item in ViewBag.FotoCamera)
                                    {
                                        <div class="col-md-3 mrg-btm-10">
                                            <h4>Foto Pátio</h4>
                                            <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = item.NomeArquivo })" alt="" width="300" />
                                        </div>
                                    }
                                }

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Chassi</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_chassi" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Placa</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_placa" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Motor</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_motor" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Hodômetro</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_hodometro" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Frente</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_frente" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Lateral Esquerda Frente</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_lat_esq_frente" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Lateral Direita Frente</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_lat_dir_frente" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Fundo</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_fundo" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Lateral Esquerda Fundo</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_lat_esq_fundo" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Lateral Direita Fundo</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_lat_dir_fundo" })" alt="" width="300" />
                                </div>

                                <div class="col-md-3 mrg-btm-10">
                                    <h4>Foto Panorâmica</h4>
                                    <img src="@Url.Action("ObterFoto", "VistoriaEcv", new { id_vistoria = Model.Id, nome_foto = "foto_panoramica" })" alt="" width="300" />
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab_3">
                            <table class="table">
                                <tr>
                                    <th nowrap>Data / Hora</th>
                                    <th>Ação</th>
                                    <th>Usuário</th>
                                    <th nowrap>Latitude</th>
                                    <th nowrap>Longitude</th>
                                </tr>
                                @foreach (Vistoria.Models.LogLocalizacao logLocalizacao in ViewBag.LogLocalizacao)
                                {
                                    <tr>
                                        <td nowrap>@logLocalizacao.DataAcao</td>
                                        <td>@logLocalizacao.TipoLogLocalizacao.Descricao</td>
                                        <td nowrap>@logLocalizacao.Usuario.Nome</td>
                                        <td nowrap>@logLocalizacao.Latitude</td>
                                        <td nowrap>@logLocalizacao.Longitude</td>
                                    </tr>
                                }
                            </table>
                            <div id="map" style="width: 100%; height: 432px"></div> <br />
                        </div>


                    </div>

                </div>




            </div>

        }
    </div>
</div>

<div class="modal fade" id="modalEnviarVistoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar Vistoria</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body" id="modalTxtEnvioVistoria">
                Confirma o envio da Vistoria?
            </div>
            <div class="modal-footer" id="modalBtnEnvioVistoria">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmarEnvio">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGerarTaxa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gerar Taxa</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body" id="modalTxtGerarTaxa">
                Confirma a Geração de Taxa?
            </div>
            <div class="modal-footer" id="modalBtnGerarTaxa">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmarGerarTaxa">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGerarLaudo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gerar Laudo</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body" id="modalTxtGerarLaudo">
                Confirma a Geração de Laudo?
            </div>
            <div class="modal-footer" id="modalBtnGerarLaudo">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmarGerarLaudo">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAguarde">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Capturar Foto</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body" id="modalTxtAguarde">
                Aguarde enquanto a foto é capturada
            </div>
            <div class="modal-footer" id="modalBtnAguarde" style="display: none">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $("#btnEnviarVistoria").on('click', function () {
                $('#modalEnviarVistoria').modal('show');
            });

            $("#btnGerarTaxa").on('click', function () {
                $('#modalGerarTaxa').modal('show');
            });

            $("#btnGerarLaudo").on('click', function () {
                $('#modalGerarLaudo').modal('show');
            });

            $("#rg").mask("9999999999");
            $("#cepImovelProp").mask("99999999");
            $("#anoFabricacao").mask("9999");
            $("#anoModelo").mask("9999");
            $("#capacidadePassag").mask("999");
            $("#pbt").mask("99999");
            $("#cmt").mask("99999");
            //$("#capacidadeCarga").mask("99999");
            $("#numeroEixos").mask("99");
            $("#potencia").mask("999");
            $("#cilindrada").mask("9999");
            $("#km").mask("999999999");
            $("#codigoRenavam").mask("99999999999");
            $("#numeroHodometro").mask("9999999");

        });

        var map;
        function initMap() {
            @if(ViewBag.Localizacao != null)
            {
                <text>
                    var centerLatLng = new google.maps.LatLng(@(ViewBag.Localizacao.Latitude), @(ViewBag.Localizacao.Longitude));

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: centerLatLng,
                        zoom: 17
                    });

                    google.maps.event.addListener(map,'idle',function(event) {
                        map.setCenter(centerLatLng);
                    });

                    var marker = null;

                    @foreach (Vistoria.Models.LogLocalizacao logLocalizacao in ViewBag.LogLocalizacao)
                    {
                        <text>
                        marker = new google.maps.Marker({
                            position: { lat: @logLocalizacao.Latitude, lng: @logLocalizacao.Longitude},
                            map: map,
                            title: '@logLocalizacao.TipoLogLocalizacao.Descricao'
                        });
                        </text>
                    }
                </text>
            }
        }

        function capturarFoto() {
            $('#modalAguarde').modal('show');
            $.ajax({
                    method: "GET",
                    url: '@Url.Action("TirarFoto", "api/Camera", new { id = Model.Id })'
                }).done(function (result) {
                    $("#modalTxtAguarde").html(result.Mensagem);
                    if (result.Status == 1) {
                        window.location.reload();
                    } else {
                        $("#modalBtnAguarde").show();
                        //$('#modalAguarde').modal('hide');
                    }
                }).fail(function (jqXHR, textStatus) {
                    alert("Ocorreu um erro: " + textStatus);
                });
        }

        $("#btnConfirmarEnvio").on('click', function () {

            if ('@ViewBag.Biometria' != "") {
                $.ajax({
                    url: '@System.Configuration.ConfigurationManager.AppSettings["URL_SERVICO_BIOMETRIA"]api/public/v1/captura/Comparar',
                    type: 'POST',
                    data: {
                        UsuarioId: @(ViewBag.UsuarioId),
                        TokenBiometria: '@(ViewBag.TokenBiometria)',
                    },
                    success: function (data) {
                      
                        if (data.startsWith("OK")) {
                            $("#modalTxtEnvioVistoria").html("Aguarde...");
                            $("#modalBtnEnvioVistoria").hide();

                            $.ajax({
                                method: "POST",
                                url: "@(Vistoria.Business.Utils.FullUrl)/VistoriaEcv/EnviarVistoria/",
                                data: { Id: $("#Id").val(), Hash: data.substring(3) }
                            }).done(function (result) {

                                var json2 = jQuery.parseJSON(result);
                                $('#modalEnviarVistoria').modal('hide');
                                alert(json2.Mensagem);
                                window.location.reload();


                            }).fail(function (jqXHR, textStatus) {
                                $('#modalEnviarVistoria').modal('hide');
                                alert("Ocorreu um erro: " + textStatus);
                            });
                        } else {
                            alert(data);
                        }
                    }
                });
            } else {
              alert("Por favor, registre a impressão digital.");
            }


        });

        $("#btnConfirmarGerarTaxa").on('click', function () {

                $("#modalTxtGerarTaxa").html("Aguarde...");
                $("#modalBtnGerarTaxa").hide();

                $.ajax({
                    method: "POST",
                    url: "@(Vistoria.Business.Utils.FullUrl)/VistoriaEcv/GerarTaxa/",
                    data: { Id: $("#Id").val() }
                }).done(function (result) {

                    var json = jQuery.parseJSON(result);
                    $('#modalGerarTaxa').modal('hide');
                    alert(json.msg);
                    window.location.reload();

                }).fail(function (jqXHR, textStatus) {
                    $('#modalGerarTaxa').modal('hide');
                    alert("Ocorreu um erro: " + textStatus);
                });
        });

        $("#btnConfirmarGerarLaudo").on('click', function () {

                $("#modalTxtGerarLaudo").html("Aguarde...");
                $("#modalBtnGerarLaudo").hide();

                $.ajax({
                    method: "POST",
                    url: "@(Vistoria.Business.Utils.FullUrl)/VistoriaEcv/GerarLaudo/",
                    data: { Id: $("#Id").val() }
                }).done(function (result) {

                    window.location.href = '@Url.Action("Index", "VistoriaEcv")';

                }).fail(function (jqXHR, textStatus) {
                    $('#modalGerarLaudo').modal('hide');
                    alert("Ocorreu um erro: " + textStatus);
                });
        });

        validator.rules = {
            'nomeProprietario': {
                required: true
            },
            'cpfCnpjProp': {
                required: true
            },
            'cepImovelProp': {
                required: true
            },
            'endereco': {
                required: true
            },
            'municipioIdProp': {
                required: true
            },
            'tipoVeiculoId': {
                required: true
            },
            'anoFabricacao': {
                required: true
            },
            'anoModelo': {
                required: true
            },
            'corId': {
                required: true
            },
            'carroceriaId': {
                required: true
            },
            'especieId': {
                required: true
            },
            'categoriaId': {
                required: true
            },
            'combustivelId': {
                required: true
            },
            'chassi': {
                required: true
            },
            'statusVistoriaId': {
                required: true
            },
            'numeroEndereco': {
                required: true
            },
            'nomeBairro': {
                required: true
            },
            'numeroFoneProp': {
                required: true
            },
            'indicaNovoUsado': {
                required: true
            },
            'numeroHodometro': {
                required: true
            },
            'capacidadePassag': {
                required: true
            },
            'pbt': {
                required: true
            },
            'cmt': {
                required: true
            },
            'capacidadeCarga': {
                required: true
            },

            'numeroEixos': {
                required: true
            },

            'apontamento': {
                required: true
            },
            'potencia': {
                required: true
            },
            'vinRegravado': {
                required: true
            },
            'cilindrada': {
                required: true
            },
            'numeroMotor': {
                required: true
            },
            'km': {
                required: true
            },
            'lacre': {
                required: true
            },
            'codigoRenavam': {
                required: true
            },
            'statusMotor': {
                required: true
            },
            'tipoVistoriaId': {
                required: true
            },
            'solicTrocaPlacaId': {
                required: true
            },
        };
        validator.messages = {
            'nomeProprietario': 'Informe o Nome do Proprietário',
            'cpfCnpjProp': 'Informe o CPF ou CNPJ',
            'cepImovelProp': 'Informe o CEP',
            'endereco': 'Informe o Endereço',
            'municipioIdProp': 'Informe o Município',
            'tipoVeiculoId': 'Informe o Tipo de Veículo',
            'anoFabricacao': 'Informe o Ano de Fabricação',
            'anoModelo': 'Informe o Ano Modelo',
            'corId': 'Informe a Cor',
            'carroceriaId': 'Informe a Carroceria',
            'especieId': 'Informe a Espécie',
            'categoriaId': 'Informe a Categoria',
            'combustivelId': 'Informe o Combustivel',
            'chassi': 'Informe o Chassi',
            'statusVistoriaId': 'Informe o Status da Vistoria',
            'numeroEndereco': 'Informe o Núm. Endereço',
            'nomeBairro': 'Informe o Bairro',
            'numeroFoneProp': 'Informe o Telefone',
            'indicaNovoUsado': 'Informe a Indic. Novo/Usado',
            'capacidadePassag': 'Informe a capacidade de passageiros',
            'pbt': 'Informe o PBT',
            'cmt': 'Informe o CMT',
            'capacidadeCarga': 'Informe a capacidade de carga',
            'carroceria': 'Informe o tipo de carroceria',
            'numeroEixos': 'Informe o numero de eixos',
            'tipoVeiculo': 'Informe o Tipo de Veiculo',
            'apontamento': 'Informe o apontamento',
            'potencia': 'Informe a potência',
            'vinRegravado': 'Informe o VIN Regravado',
            'cilindrada': 'Informe a cilindrada',
            'numeroMotor': 'Informe o numero do motor',
            'km': 'Informe a quilometragem',
            'lacre': 'Informe o lacre',
            'codigoRenavam': 'Informe o Renavam',
            'statusMotor': 'Informe o Status do Motor',
            'tipoVistoriaId': 'Informe o Tipo de Vistoria',
            'solicTrocaPlacaId': 'Informe o Serviço de Placa',
            'numeroHodometro': 'Informe o Número do Hodômetro',
        };

        $(document).ready(function() {
            $('#formId').validate(validator);
        });
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEa_72QQlWbGnEWFki98oF0YUHtRFYVh4&callback=initMap">
    </script>
}
