﻿@model List<Vistoria.Models.VistoriaEcv>

@{
    ViewBag.Title = "Vistorias";
    ViewBag.Tamanho = 2;
}

<div class="col-xs-12">
    @*<div class="box box-primary no-print">
        <div class="box-header with-border">
            <h3 class="box-title">Pesquisa</h3>
        </div>
        <form action="@Url.Action("Index", "VistoriaEcv", new { id=""})" class="form-horizontal" method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-body">
                        <div class="form-group mrg-top-20" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Data Início:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Data Início" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Data Fim:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Data Fim" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Placa ou Chassi:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Placa ou Chassi" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Num. Vistoria:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Num. Vistoria" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Renavam:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Renavam" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:end; display:flex; align-items: center; justify-content:center;">
                            <label class="col-md-3">Cpf:</label>
                            <div class="input-group date col-md-6">
                                <input type="text" class="form-control pull-right" placeholder="Cpf" id="">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="margin-20 callout callout-info" style="background-color: rgba(216, 215, 215, 0.35) !important; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);">
                        <h3 class="text-primary"><i class="fa fa-info-circle"></i> Informações sobre a pesquisa</h3>
                        <p class="text-black">
                            Para efetuar uma consulta agora será necessário apenas informar a data ou preencher o compo de pesquisa com o número da vistoria,
                            placa ou chassi do veículo. Para as vistorias sem resultado ou vistorias pendentes clique nos botões abaixo.
                        </p>
                        <div class="mrg-top-20 text-center">
                            <a href="@Url.Action("Edit", "VistoriaEcv")" class="btn btn-default text-black" style="text-decoration:none;"><i class="glyphicon glyphicon-exclamation-sign"></i> Vistorias sem resultados</a>
                        </div>
                        <div class="mrg-top-10 mrg-btm-20 text-center">
                            <a href="@Url.Action("Edit", "VistoriaEcv")" class="btn btn-default text-black" style="text-decoration:none;"><i class="glyphicon glyphicon-remove-circle"></i> Vistorias Pendentes</a>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>*@

    <div class="box box-default">
        <div class="box-header">
            @*<h3 class="box-title">Exibindo</h3>*@
            <div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped datatable tipo1">
                <thead>
                    <tr>
                        <th class="text-center">Placa/Chassi</th>
                        <th class="text-center">Data/Hora</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Tipo Vistoria</th>
                        <th class="text-center" no-print" width="100px" rowspan="1" colspan="1">Ações</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
<script>
    $(document).ready(function () {
        $('.datatable.tipo1').DataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            'sAjaxSource': '@Url.Action("Pagination", "VistoriaEcv", new { area = "Vistoria" })',
            'sServerMethod': 'POST',
            'order': [[1, 'desc']],
            'columnDefs': [
                { 'orderable': false, "targets": 4 }
            ],
            'aoColumns': [
                { 'mData': 'placaVeiculo' },
                { 'mData': 'dataVistoria' },
                { 'mData': 'statusVistoria' },
                { 'mData': 'tipoVistoria' },
                { 'mData': 'acoes' },
            ],
            'language': {
                'url': '@Vistoria.Business.Utils.FullUrl' + 'Content/js/datatables.net/pt-BR.json'
            }
        });
    });
</script>
}
