﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@System.Configuration.ConfigurationManager.AppSettings["NOME_PROJETO"] | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/img/favicon.ico" rel="shortcut icon" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/bootstrap.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/site.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/helpers.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/select2.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/AdminLTE.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/iCheck/all.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-slider/slider.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><img src="@(Vistoria.Business.Utils.FullUrl)Content/img/logo2.png" width="200" /></a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">
                Entre para iniciar sua sessão
            </p>
            @RenderBody()
        </div>

    </div>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery-3.3.1.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.validate.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.validate.unobtrusive.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/modernizr-2.8.3.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/adminlte.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.mask.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/moment-with-locales.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/printThis.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/iCheck/icheck.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.pt-BR.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/select2.full.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.resize.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.pie.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.categories.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.pt.min.js" charset="ISO-8859-1"></script>
    @RenderSection("scripts", required: false)

    @if(System.Configuration.ConfigurationManager.AppSettings["AMBIENTE"] == "Homologação")
    {
        <div id="bot"></div>
        <script type="text/javascript" src="https://baappboth01.azurewebsites.net/BotIT/it.js"></script>
        <script>
            IT.config(1);
            IT.loadWindow(true);
            IT.init();
        </script>
    }

</body>
</html>
