﻿ 
@using System.Configuration

@{
    string projeto = HttpContext.Current.ApplicationInstance.GetType().BaseType.Assembly.GetName().Name;
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString();
    var versao =  ConfigurationManager.AppSettings["VERSAO_PROJETO"];
    var ambiente =  ConfigurationManager.AppSettings["AMBIENTE"]; 



}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(ViewBag.Title)</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="@(Vistoria.Business.Utils.FullUrl)Content/img/favicon.ico" rel="shortcut icon" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/bootstrap.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/site.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/helpers.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/select2.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/AdminLTE.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/css/HoldOn.min.css" rel="stylesheet" />



    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/iCheck/all.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datetimepick/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-slider/slider.css" rel="stylesheet" />
    <link href="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">



    <div class="wrapper">
        <header class="main-header">
            <a href="@(Vistoria.Business.Utils.FullUrl)@System.Configuration.ConfigurationManager.AppSettings["URL_DEFAULT"]" class="logo">
                <span class="logo-mini"><img src="@(Vistoria.Business.Utils.FullUrl)Content/img/logo3.png" width="40" /></span>
                <span class="logo-lg"><img src="@(Vistoria.Business.Utils.FullUrl)Content/img/logo.png" width="80" /></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    @if (Vistoria.Business.AcessoBO.TemAcesso("*", "Home", "Regras") && IsSectionDefined("regras"))
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-toggle="modal" data-target="#modalRegras"><i class="fa fa-legal"></i> Regras</a></li>
                        </ul>
                    }
                    @if (IsSectionDefined("ajuda"))
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-toggle="modal" data-target="#modalAjuda"><i class="fa fa-question"></i> Ajuda</a></li>
                        </ul>
                    }
                    <ul class="nav navbar-nav">
                        @foreach (Vistoria.Models.ViewModel.ProjetoVM proj in Vistoria.Models.ViewModel.ProjetoVM.ListProjeto().Where(x => x.Posicao == Vistoria.Enumerators.Menu.Profile))
                        {
                            if (Vistoria.Business.AcessoBO.TemAcesso(proj.ListMenu))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp; @(proj.Nome == "#usuario.login#" ? Vistoria.Business.SessionHelper.Usuario?.Nome : proj.Nome) <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @foreach (Vistoria.Models.ViewModel.MenuVM item in proj.ListMenu)
                                        {
                                            if (item.Nome == "#separador#")
                                            {
                                                <li role="separator" class="divider"></li>
                                            }
                                            else
                                            {
                                                if (Vistoria.Business.AcessoBO.TemAcesso(item.Projeto, item.Controller, item.Action))
                                                {
                                                    <li><a href="@(Vistoria.Business.Utils.FullUrl)@(item.Controller)/@(item.Action)"><i class="@(item.Icone)"></i> <span>@(item.Nome)</span></a></li>
                                                }
                                            }
                                        }

                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    @foreach (Vistoria.Models.ViewModel.ProjetoVM proj in Vistoria.Models.ViewModel.ProjetoVM.ListProjeto().Where(x => x.Posicao == Vistoria.Enumerators.Menu.Lateral))
                    {
                        if (Vistoria.Business.AcessoBO.TemAcesso(proj.ListMenu))
                        {
                            <li class="treeview @(Vistoria.Business.AcessoBO.IsController(proj.ListMenu, projeto, controller) ? "active" : string.Empty)">
                                <a href="#">
                                    <i class="@proj.Icone"></i> <span>@proj.Nome</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @foreach (Vistoria.Models.ViewModel.MenuVM item in proj.ListMenu)
                                    {
                                        if (Vistoria.Business.AcessoBO.TemAcesso(item.Projeto, item.Controller, item.Action))
                                        {
                                            <li class="@(controller == item.Controller ? "active" : string.Empty)"><a href="@(Vistoria.Business.Utils.FullUrl)@(item.Controller)/@(item.Action)"><i class="@(item.Icone)"></i> <span>@(item.Nome)</span></a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @foreach (Vistoria.Models.ViewModel.MessageVM message in Vistoria.Business.SessionHelper.ListMessage)
                        {
                            <div class="alert alert-@(message.MessageTipo.ToString().ToLower()) alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa @(message.GetIcon())"></i> @(message.Titulo)</h4>
                                <i class="close icon"></i>
                                <p>
                                    @(message.Texto)
                                </p>
                            </div>
                        }
                        @{Vistoria.Business.SessionHelper.ListMessage.Clear();}
                        <h1>
                            @(ViewBag.Title)@RenderSection("botaoTop", required: false)
                        </h1>
                        <div id="messageAlert"></div>
                    </div>
                </div>
            </section>
            <section class="content container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>
    <footer class="main-footer no-print">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-5 col-sm-3 col-sm-offset-5 col-xs-6 col-xs-offset-0">
                <img src="@(Vistoria.Business.Utils.FullUrl)Content/img/logo2.png" width="50" />
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6 text-right">
                @projeto | @versao | @ambiente
            </div>
        </div>
    </footer>



    <div class="modal fade" id="modal-excluir-registro">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Excluir registro</h4>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão do registro <span id="nome-registro"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btn-confirmar-exclusao">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-clonar-registro">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Clonar registro</h4>
                </div>
                <div class="modal-body">
                    <p>Confirma a duplicação do registro <span id="nome-registro-clone"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-confirmar-clonar">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegras">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Regras de: @ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    @RenderSection("regras", required: false)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAjuda">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajuda de: @ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    @RenderSection("ajuda", required: false)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery-3.3.1.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.validate.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.validate.unobtrusive.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/modernizr-2.8.3.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.utils.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/adminlte.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.mask.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/moment-with-locales.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/printThis.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datetimepick/bootstrap-datetimepicker.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datetimepick/bootstrap-datetimepicker.pt-BR.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/iCheck/icheck.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.pt-BR.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-treeview.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/select2.full.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.resize.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.pie.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/Flot/jquery.flot.categories.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.min.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-year-calendar/bootstrap-year-calendar.pt.min.js" charset="ISO-8859-1"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/bootstrap-filestyle.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/ckeditor/ckeditor.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery-knob/js/jquery.knob.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/MicrosoftAjax.debug.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/jquery.unobtrusive-ajax.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/MicrosoftAjax.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/MicrosoftMvcAjax.js"></script>
    <script src="@(Vistoria.Business.Utils.FullUrl)Content/js/HoldOn.min.js"></script>
    <script>

        function onShowModal() {
            $('#modal-page').modal('show');

        };

        function onHolDon_Show() {
            HoldOn.open({
                theme: 'sk-circle',
                message: "<h4>Aguarde um momento</h4>"
            });

            //setTimeout(function () {
            //    HoldOn.close();
            //}, 2000);
        }

        function onHolDon_Close() {

            HoldOn.close();
        }

        var validator = {
            errorClass: 'help-block animation-slideDown',
            errorElement: 'div',
            errorPlacement: function (error, e) {
                e.parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            }
        };

        function inicializaCheckBox() {
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        }
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00)00000-0000' : '(00)0000-00009';
        };
        var spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $(function () {
            inicializaCheckBox();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover({ html : true});
            $('.slider').slider();
            $('.select2').select2({
                width: '100%',
                allowClear: true,
                placeholder: '.:: Selecione ::.',
                language: {
                    noResults: function () {
                        return 'Nenhum resultado encontrado';
                    },
                }
            });

            $('.telefone-mask').mask(SPMaskBehavior, spOptions);

            var CpfCnpjMaskBehavior = function (val) {
                switch (val.replace(/\D/g, '').length)
                {
                    case 14:
                        return '00.000.000/0000-00';
                    case 13:
                        return '0.000.000/0000-009';
                    case 12:
                        return '000.000/0000-009';
                    case 11:
                        return '000.000.000-009';
                    default:
                        return '00.000.000-009';
                }
            };
            var spOptions2 = {
                clearIfNotMatch: true,
                onKeyPress: function (val, e, field, options) {
                    field.mask(CpfCnpjMaskBehavior.apply({}, arguments), options);
                },
            };
            $('.cpfcnpj-mask').mask(CpfCnpjMaskBehavior, spOptions2);

            $('.data-hora-mask').mask('00/00/0000 00:00');
            $('.data-hora-mask').datetimepicker({
                language: 'pt-BR',
                format: "dd/mm/yyyy hh:ii",
                autoclose: true,
            });
            
            $('.data-mask').mask('00/00/0000');
            $('.data-mask').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
            $('.data-mes-mask').mask('00/0000');
            $('.data-mes-mask').datepicker({
                format: 'mm/yyyy',
                language: 'pt-BR',
                startView: "months",
                minViewMode: "months"
            });
            $('.cep-mask').mask('00.000-000');
            $('.hora-mask').mask('00:00');
            $(".wysihtml5").wysihtml5({
                locale: 'pt-BR'
            });
            $('.datatable.tipo2').DataTable();
            $.each($('.datatable'), function (i, obj) {
                if ($(this).find('tfoot').length == 0) {
                    $(this).append('<tfoot>' + $(this).find('thead').html() + '</tfoot>');
                } else {
                    $(this).find('tfoot').html($(this).find('thead').html());
                }
            });

            for (var key in validator.rules) {
                if (validator.rules[key]) {
                    $('label[for="' + key + '"]').append('<span class="text-danger">*</span>');
                }
            }

            montarCopyMemory();

        })

        function montarCopyMemory() {
            $('[copy-memory]:not(.copy-memory)')
                .addClass('copy-memory')
                .addClass('fa')
                .addClass('fa-clipboard')
                .click(function () {
                    var x;
                    try {
                        eval("x = " + $(this).attr('copy-memory'));
                    } catch (e) {
                        eval("x = '" + $(this).attr('copy-memory') + "'");
                    }
                    $('body').append('<input id="memory" value="'+(x)+'">');
                    $('#memory').val(x);
                    $('#memory').select();
                    document.execCommand('copy');
                    $('#memory').remove();
                    alert('Conteúdo '+(x)+' copiado para memória');
                });
        }

        function excluir(modulo, id, nome) {
            $("#nome-registro").html(nome);
            $("#btn-confirmar-exclusao").click(function () {
                location.href = '@Vistoria.Business.Utils.FullUrl' + modulo + "/Delete/" + id;
            });
            $('#modal-excluir-registro').modal('show');
        }

        function excluir2(modulo, action, id, nome) {
            if (confirm("Tem certeza que deseja excluir o item " + nome + "?")) {
                location.href = '@Vistoria.Business.Utils.FullUrl' +  modulo + "/" + action + "/" + id;
            }
        }

        function clonar(modulo, id, nome) {
            $("#nome-registro-clone").html(nome);
            $("#btn-confirmar-clonar").click(function () {
                location.href = '@Vistoria.Business.Utils.FullUrl' + modulo + "/Clonar/" + id;
            });
            $('#modal-clonar-registro').modal('show');
        }
    </script>
    @RenderSection("modal", required: false)
    @RenderSection("scripts", required: false)
    <style>
        .popover {
            max-width: 100% !important;
        }

        [data-toggle="popover"] {
            cursor: help;
        }

        .datepicker {
            z-index: 999999 !important;
        }

        .copy-memory:hover {
            cursor: pointer;
        }
    </style>
</body>
</html>