﻿@model Vistoria.Models.Usuario
@{
    ViewBag.Title = "Usuário";
    List<Vistoria.Models.Grupo> listaGrupos = ViewBag.GruposChecked;
    ViewBag.Tamanho = 2;
}
<div class="col-xs-12">
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de Usuário</h3>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        @Html.HiddenFor(model => model.Id)

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.AutenticaAD, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="checkbox">
                        <input type="checkbox" class="minimal" name="AutenticaAD" id="AutenticaAD" value="true" @(Model.AutenticaAD == true ? "checked=checked" : "") />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MatriculaAtendente, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MatriculaAtendente, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.MatriculaAtendente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SitioId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SitioId", null, Vistoria.Business.Utils.txtSelecioneCombos, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SitioId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group div-senha @(Model.AutenticaAD == true ? "hide" : "")">
                @Html.LabelFor(m => m.Senha, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control",@id= "Senha" })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="gerarSenha()"><i></i> Gerar Senha</button>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.GruposId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @foreach (Vistoria.Models.Grupo grupo in ViewBag.Grupos)
                    {
                        <div class="col-sm-12 no-pdd">
                            <label><input type="checkbox" class="minimal" @(listaGrupos.Where(x => x.Id == grupo.Id).Count() > 0 ? "checked=checked" : "") name="GruposId" value="@grupo.Id" />  @grupo.Nome</label>
                        </div>
                    }
                    @Html.ValidationMessageFor(m => m.GruposId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Biometria, "Biometria Cadastrada?", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (String.IsNullOrEmpty(Model.Biometria))
                    {
                        <small class="label bg-danger">Não</small>
                    }
                    else
                    {
                        <small class="label bg-green">Sim</small>
                    }
                    <a class="btn btn-primary mrg-left-20" onclick="Capture()"><img style="width: 16px; height: 16px;" src="@(Vistoria.Business.Utils.FullUrl)Content/img/digital.svg">&nbsp;Cadastrar</a>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <div class="form-group no-mrg-btm">
                <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                    <a class="btn btn-default btn-block" href="@Url.Action("Index", "Usuario")"><i class="glyphicon glyphicon glyphicon glyphicon-arrow-left"></i> Voltar</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>

<style>
    .bg-danger {
        background-color: #dd4b39 !important;
    }
</style>

@section Scripts {
    <script>
        validator.rules = {
            'Nome': {
                required: true
            },
            'Login': {
                required: true
            },
            'Email': {
                required: true
            },
            'MatriculaAtendente': {
                required: true
            },
            'GrupoId': {
                required: true
            },
            'GruposId': {
                required: true,
            }
        };
        validator.messages = {
            'Nome': 'Informe o Nome',
            'Login': 'Informe o Login',
            'Email': 'Informe o E-mail',
            'MatriculaAtendente': 'Informe a Matrícula',
            'GrupoId': 'Informe o Grupo',
            'GruposId': 'Informe pelo menos um Grupo de Acesso',
        };

        $(document).ready(function () {
            $('#formId').validate(validator);

            $(".iCheck-helper:first").click(function () {
                if ($("#AutenticaAD").is(":checked") == true) {
                    $(".div-senha").addClass("hide");
                } else {
                    $(".div-senha").removeClass("hide");
                }
            });
        });


        function Capture() {
            $.ajax({
                url: '@System.Configuration.ConfigurationManager.AppSettings["URL_SERVICO_BIOMETRIA"]api/public/v1/captura/Capturar/1',
                type: 'GET',
                success: function (data) {
                    if (data != "" && data != null) {
                        insertDB(data);
                    }
                    else {
                        alert("Digital não pode ser capturada!");
                    }
                }
            })
        }

        function insertDB(template) {
            $.ajax({
                method: "POST",
                dataType: 'json',
                url: "@Url.Action("Cadastrar", "api/Biometria")",
                data: {
                    id: $("#Id").val(),
                    template: template
                },
            }).done(function (result) {
                alert(result.Mensagem);

            }).fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }


        function gerarSenha() {
            var lower = 'abcdefghijklmnopqrstuvwxyz'.split('');
            var upper = 'abcdefghijklmnopqrstuvwxyz'.toUpperCase().split('');
            var nuns = '0123456789'.split('');
            var senha = "";
            for (i = 0; i < 3; i++) {
                var x = (Math.random() * lower.length);
                senha += lower[parseInt(x)];
            }
            for (i = 0; i < 2; i++) {
                var x = (Math.random() * nuns.length);
                senha += nuns[parseInt(x)];
            }
            for (i = 0; i < 3; i++) {
                var x = (Math.random() * upper.length);
                senha += upper[parseInt(x)];
            }

            $('#Senha').val(senha);

        }


        function gerarSenhaAjax() {
            $.get('@Url.Action("ResetSenha","Usuario")', function (result) {
                $("#Senha").val(result);
            });
        }




    </script>
}