﻿@model Vistoria.Models.LogErro

@{
    ViewBag.Title = "Log de Erros";
	ViewBag.Tamanho = 2;
}

<style>
    .datatable td {
        white-space: normal !important;
    }
</style>
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Log de Erros</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped datatable tipo1">
                <thead>
                    <tr>
                        <th width="30">#</th>
						<th width="200">@Html.LabelFor(model => model.Acao)</th>
						<th width="200">@Html.LabelFor(model => model.StackTrace)</th>
						<th width="200">@Html.LabelFor(model => model.Message)</th>
						<th width="200">@Html.LabelFor(model => model.ContentApiString)</th>
						<th width="200">@Html.LabelFor(model => model.Data)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.datatable.tipo1').DataTable({
                'bPaginate': true,
                'bJQueryUI': true,
                'bProcessing': true,
                'bServerSide': true,
                'sAjaxSource': '@Url.Action("Pagination", "LogErro")',
                'sServerMethod': 'POST',
                "scrollX": true,
                'columnDefs': [
                    { 'orderable': false, "targets": 4 }
                ],
                'aoColumns': [
					{ 'mData': 'Id' },
					{ 'mData': 'Acao' },
					{ 'mData': 'StackTrace' },
					{ 'mData': 'Message' },
					{ 'mData': 'ContentApiString' },
					{ 'mData': 'DataHora' },
                ],
                'language': {
                    'url': '@(Vistoria.Business.Utils.FullUrl)Content/js/datatables.net/pt-BR.json'
                }
            });
        });
    </script>
}


