﻿@model Vistoria.Models.ViewModel.AlterarSenhaVM
@{
    ViewBag.Title = "Alterar Senha";

    ViewBag.Tamanho = 4;
}
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Alterar Senha</h3>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SenhaAtual, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.SenhaAtual, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.SenhaAtual, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NovaSenha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NovaSenha, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.NovaSenha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmarSenha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group no-mrg-btm">
                    <div class="col-md-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script>
        validator.rules = {
            'SenhaAtual': {
                required: true
            },
            'NovaSenha': {
                required: true,
                minlength: 8
            },
            'ConfirmarSenha': {
                required: true,
                minlength: 8,
                equalTo: "#NovaSenha"
            }
        };
        validator.messages = {
            'SenhaAtual': 'Informe a Senha Atual',
            'NovaSenha': {
                required: 'Informe a Nova Senha',
                minlength: 'Mínimo de 8 caracteres'
            },
            'ConfirmarSenha': {
                required: 'Confirme a Nova Senha',
                minlength: 'Mínimo de 8 caracteres',
                equalTo: 'As senhas não conferem'
            }
        };

        $(document).ready(function () {
            $('#formId').validate(validator);
        });
    </script>
}
